<!DOCTYPE html>
<html>
  <head>
    <title>Authentication</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      <p>
        Hello <%= current_user.email %>
        <%= link_to 'Log Out', sessions_path, method: :delete %>
      </p>
    <% else %>
      <p><%= link_to 'Log In', new_sessions_path %></p>
    <% end %>

    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <p class="<%= key %>">
          <%= value %>
        </p>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
